
/* start back button */

.back{
    display:flex;
    margin-top: 70px;
}

.back #b{
    
    padding: 10px 35px 10px 35px;
    background-color: #ffffff;
    
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); 
    color: #000000;
    
}

.back i{
    
margin-right: 5px;
}

/* start flag detail */



.flag_detail{
    margin-top: 70px;
    margin-bottom: 70px;
 
}


.grid_display{
    display: grid;
    column-gap: 95px;   
    grid-template-columns: repeat(auto-fill, minmax(460px,auto));
    align-items: center;
}


.grid_content{
    display: grid;
    column-gap: 99px;   
    grid-template-columns: repeat(auto-fill, minmax(230px,auto));
    margin-top: 20px;
    margin-bottom: 60px;
}


.flag img{
    width: 100%;
    object-fit: contain;
    display: block;
}

.content{
 
    align-items: center;
    font-size: 17px;

}

.content h2{
    font-weight: 800;
    font-size: 17px;
}
 


.content .right_content{
     margin-left: 9px; 
    
}

.content .left_content .name{
    font-weight: 800;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}

.content .right_content .name{
    font-weight: 800;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}

.content .left_content .value{
    
    font-size: 15px;
    font-family: 'Nunito Sans';
    margin-top: 10px;
    display: inline-block;

}

.content .right_content .value{
    
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}


.content .down_content .border{
    font-weight: 800;
    font-size: 14px;
    margin-right: 5px;
}

.content .down_content .country{
    display: inline-block;
    padding: 5px 15px;
    background-color: #ffffff;
    font-size: 14px;
   border-radius: 2px;
    margin-right: 5px;
    width: 70px;
    text-align: center;
    box-shadow: 0px 0px 4px 0px #85858575;
}


@media only screen and (max-width :683px)  {


    .grid_display{
        display: grid;
        column-gap: 95px;   
        grid-template-columns: repeat(auto-fill, minmax(260px,auto));
        align-items: center;
    }


    .content{
        margin-top:50px;
       
    }

    .content .right_content{
  
       margin-top: 35px;
       margin-left: 0px;
        
    } 

    .grid_content{
        margin-bottom: 40px;
        grid-template-columns: repeat(auto-fill, minmax(260px,auto));
    }


    .content .down_content .border{
        display: block;
        margin-bottom: 20px;
    }

}


 @media only screen and (max-width: 1348px) and (min-width: 684px)  {


    .content{
        margin-top:50px;  
       width: 100%;
    }

    .grid_display{
        display: grid;
        column-gap: 95px;   
        grid-template-columns: repeat(auto-fill, minmax(650px,auto));
        align-items: center;
    }

    .grid_content{
        margin-bottom: 40px;
        grid-template-columns: repeat(auto-fill, minmax(270px,auto));
        /* column-gap: 90px;   */
        width: 100%;
    }

  

    .content .down_content .border{
        display: block;
        margin-bottom: 20px;
    }

    .content h2{
        font-size: 30px;
    }

    .content .left_content .name{
        font-size: 18px;
    }
    
    .content .right_content .name{
        font-size: 18px;
    }
    
    .content .left_content .value{
        
        font-size: 16px;
    
    }
    
    .content .right_content .value{
        
        font-size: 16px;
    }


    .content .down_content .border{
        font-size: 17px;
    }
    
    .content .down_content .country{
        font-size: 16px;
        width: 80px;

    }

} 
    

